{{#partial "content"}}

            <div class = "row">
                <h5>Name: {{matchedUser.name}}</h5>
                <h5>Age: {{matchedUser.age}}</h5>
                <h5>Gender: {{matchedUser.gender}}</h5>
                <h5>Looking for: {{matchedUser.genderPreference}} between ages of {{matchedUser.matchMinAge}} - {{matchedUser.matchMaxAge}}</h5>
                <h5>Bio: {{matchedUser.bio}}</h5>
                <h5>Compatibility: {{compScore}}</h5>
            </div>

    {{else}}
        <h3>No matches found</h3>




{{/partial}}

{{> layout.hbs}}