{{#partial "content"}}
    <h1>##### App </h1>
    <hr>


    {{#each foundquestions}}
        {{prompt}}<br>
        <div class="radio">
            <label>
                <input type="radio" name={{id}} value="1">
                {{choice1}}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name={{id}} value="2">
                {{choice2}}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name={{id}} value="3">
                {{choice3}}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name={{id}} value="4">
                {{choice4}}
            </label>
        </div>
    {{/each}}


        <footer class="footer">
            <div class="container">
            </div>
        </footer>


{{/partial}}

{{> layout.hbs}}