{{#partial "content"}}
    <h3>{{teams.nameOfTeam}}</h3>
    {{#if matches}}
        <div class = "row">
            <h3>Name: {{matches.name}}</h3>
            <h3>Age: {{matches.age}}</h3>
            <h3>Gender: {{matches.gender}}</h3>
            <h3>Looking for: {{matches.matchGender}} between ages of {{matches.matchMinAge}} - {{matches.matchMaxAge}}</h3>
        </div>
    {{/if}}



    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a class="btn" href="/teams/{{members.teamId}}/members/{{members.id}}/update">Edit this Member!</a></p>
            <p class="text-muted"><a class="btn" href="/teams/{{members.teamId}}/members/{{members.id}}/delete">Delete this Member!</a></p>

        </div>
    </footer>
{{/partial}}

{{> layout.hbs}}