<ul class="nav nav-tabs">
    <li role="presentation"><a href="/users/{{userId}}/profile">My Profile</a></li>
    <li role="presentation"><a href="/users/{{userId}}/questions">View Questions</a></li>
    <li role="presentation" class="active"><a href="/users/{{userId}}/matches">Browse Matches</a></li>
    <p class="loginName">Logged in as: {{user.name}}</p>
    <li role="presentation" class="pull-right"><a href="/">Logout</a></li>
</ul>

{{#partial "content"}}
    {{#if matches}}
        {{#each matches}}
            <div class="well">
        <div class = "row">
            <h5>Name: <a href = "/users/{{userId}}/matches/{{id}}">{{name}}</a></h5>
            <h5>Age: {{age}}</h5>
            <h5>Gender: {{gender}}</h5>
            <h5>Looking for: {{genderPreference}} between ages of {{matchMinAge}} - {{matchMaxAge}}</h5>
        </div>
    {{/each}}
    {{else}}
        <h3>No matches found</h3>
        </div>
    {{/if}}



{{/partial}}

{{> layout.hbs}}