<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/users/{{id}}/profile">My Profile</a></li>
    <li role="presentation"><a href="/users/{{id}}/questions">View Questions</a></li>
    <li role="presentation"><a href="/users/{{id}}/matches">Browse Matches</a></li>
    <p class="loginName">Logged in as: {{name}}</p>
</ul>
{{#partial "content"}}

            <div class = "row">
                <h5>Name: {{matchedUser.name}}</h5>
                <h5>Age: {{matchedUser.age}}</h5>
                <h5>Gender: {{matchedUser.gender}}</h5>
                <h5>Looking for: {{matchedUser.genderPreference}} between ages of {{matchedUser.matchMinAge}} - {{matchedUser.matchMaxAge}}</h5>
                <h5>Bio: {{matchedUser.bio}}</h5>
                <h5>Compatibility: {{compScore}}</h5>
            </div>

    {{else}}
        <h3>No matches found</h3>




{{/partial}}

{{> layout.hbs}}