<ul class="nav nav-tabs">
    <li role="presentation"><a href="/users/{{userId}}/profile">My Profile</a></li>
    <li role="presentation" class="active"><a href="/users/{{userId}}/questions">View Questions</a></li>
    <li role="presentation"><a href="/users/{{userId}}/matches">Browse Matches</a></li>
    <p class="loginName">Logged in as: {{user.name}}</p>
    <li role="presentation" class="pull-right"><a href="/">Logout</a></li>
</ul>

{{#partial "content"}}
    {{#if foundquestions}}
    {{#each foundquestions}}

        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">{{prompt}}</h2>
            </div>
            <div class="panel-body">
        <div class = "row">
            <div class = "col-md-6">
                <form action="/users/{{userId}}/questions/{{id}}" method="post">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Answer</h2>
                        </div>
                        <div class="panel-body">
                            {{prompt}}<br>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="1" {{#if answerIs1}} checked{{/if}}>
                                    {{choice1}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="2" {{#if answerIs2}} checked {{/if}}>
                                    {{choice2}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="3" {{#if answerIs3}} checked {{/if}}>
                                    {{choice3}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="4" {{#if answerIs4}} checked {{/if}}>
                                    {{choice4}}
                                </label>
                            </div>
                        </div>
                    </div>
            </div>



            <div class = "col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Answers You'll Accept</h2>
                    </div>
                    <div class="panel-body">
                        {{prompt}}<br>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="1">
                                {{choice1}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="2">
                                {{choice2}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="3">
                                {{choice3}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="4">
                                {{choice4}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">

            <button class="btn questionButton" type="submit">Submit</button>

        </div>
        </form>
    </div>
        </div>

    {{/each}}
    {{else}}
        <h3>There are no more questions for you to answer.</h3>
    {{/if}}


{{/partial}}

{{> layout.hbs}}