{{#partial "content"}}

    {{#each foundquestions}}


        <div class = "row">
            <div class = "col-md-6">
                <form action="/users/1/questions/{{id}}" method="post">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Answer</h2>
                        </div>
                        <div class="panel-body">
                            {{prompt}}<br>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="1" {{#if answerIs1}} checked{{/if}}>
                                    {{choice1}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="2" {{#if answerIs2}} checked {{/if}}>
                                    {{choice2}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="3" {{#if answerIs3}} checked {{/if}}>
                                    {{choice3}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="responseTo{{id}}" value="4" {{#if answerIs4}} checked {{/if}}>
                                    {{choice4}}
                                </label>
                            </div>
                        </div>
                    </div>
            </div>







            <div class = "col-md-6">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">Answers You'll Accept</h2>
                    </div>
                    <div class="panel-body">
                        {{prompt}}<br>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="1">
                                {{choice1}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="2">
                                {{choice2}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="3">
                                {{choice3}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptable{{id}}" value="4">
                                {{choice4}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        </form>

    {{/each}}


    <footer class="footer">
        <div class="container">
        </div>
    </footer>


{{/partial}}

{{> layout.hbs}}