{{#partial "content"}}

    <h1>Users</h1>

    {{#if users}}
        {{#each users }}
            <div class="emphasized well">
                <p>User Information</p>
                <p>User name: {{name}}</p>
                <p>age: {{age}}</p>
                <p>gender: {{gender}}</p>
                <p>gender preference: {{genderPreference}}</p>
                <p>preferred minimum age: {{matchMinAge}}</p>
                <p>preferred maximum age: {{matchMaxAge}}</p>
                <p>area: {{zip}}</p>
                <p>email: {{email}}</p>

            </div>
        {{/each}}
    {{else}}
        <p>Please add a user!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}