<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/users/{{id}}/profile">My Profile</a></li>
    <li role="presentation"><a href="/users/{{id}}/questions">View Questions</a></li>
    <li role="presentation"><a href="/users/{{id}}/matches">Browse Matches</a></li>
    <p class="loginName">Logged in as: {{name}}</p>
</ul>
{{#partial "content"}}


    {{#if validUser}}
            <div class="emphasized well">

                <p>Login Successful.</p>

                <a href="/users/{{id}}/profile">Go To My Profile</a>
            </div>
    {{else}}
        <p>Login Unsuccessful. Please try again.</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}