{{#if editUser}}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/users/{{id}}/profile">My Profile</a></li>
    <li role="presentation"><a href="/users/{{id}}/questions">View Questions</a></li>
    <li role="presentation" class="active"><a href="/users/{{id}}/matches">Browse Matches</a></li>
    <p class="loginName">Logged in as: {{editUser.name}}</p>
    <li role="presentation" class="pull-right"><a href="/">Logout</a></li>
</ul>

{{else}}


    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
    </ul>

{{/if}}

{{#partial "content"}}

   {{#if editUser}}

       <form action="/users/{{id}}/update" method="post">
           <div class="panel">
               <div class="panel-heading">
                   <h2 class="panel-title">Enter Your Information</h2>
               </div>
               <div class="panel-body">
           <div class ="row">
               <div class = "col-md-7">
                   <div class = "form-group">
                       <label for="newName">Name</label>
                       <input id="newName" name="newName" class = "form-control" type="text" value ="{{editUser.name}}">
                   </div>
               </div>

           <div class ="row">
               <div class = "col-md-7">
                   <label for="newAge">Age</label>
                   <input id="newAge" name="newAge" class = "form-control" type="number" value ="{{editUser.age}}">
               </div>
           </div><br>

           <div class="row">
               <div class="col-md-3">
                   <p>I'm a<br>
                       <label><input type="radio" name="newGender" value="male" >Male&nbsp</label>
                       <label><input type="radio" name="newGender" value="female" >Female</label>
                   </p>
               </div>
               <div class="col-md-3">
                   <p>Interested in<br>
                       <label><input type="radio" name="newGenderPreference" value="male">Male&nbsp</label>
                       <label><input type="radio" name="newGenderPreference" value="female">Female</label>
                   </p>
               </div>
           </div>

           <div class="row">
               <div class="col-md-7">
                   <label for="newMinimumAge">Minimum Age Preference</label>
                   <input id="newMinimumAge" name="newMinimumAge" type="number" min="0" class = "form-control" value ="{{editUser.matchMinAge}}">
               </div>
           </div>

           <div class="row">
               <div class="col-md-7">
                   <label for="newMaximumAge">Maximum Age Preference</label>
                   <input id="newMaximumAge" name="newMaximumAge" type="number" min="0" class = "form-control" value ="{{editUser.matchMaxAge}}">
               </div>
           </div>

           <div class="row">
               <div class="col-md-7">
                   <label for="newZip">Zip Code</label>
                   <input id="newZip" name="newZip" type="number" class = "form-control" value ="{{editUser.zip}}">
               </div>
           </div>
           <div class="row">

               <div class="col-md-7">
                   <label for="inputBio">Bio:</label>
                   <textarea id="inputBio" name="inputBio" type="text" class ="form-control">{{editUser.bio}}</textarea>
               </div>
           </div>
           <div class="row">
               <div class="col-md-7">
                   <label for="newEmailAddress">Email Address</label>
                   <input id="newEmailAddress" name="newEmailAddress" type="email" class = "form-control" value ="{{editUser.email}}">
               </div>
           </div>

           <div class="row">
               <div class="col-md-7">
                   <label for="newPassword">Password</label>
                   <input id="newPassword" name="newPassword" type="password" class = "form-control" value ="{{editUser.password}}">
               </div>
           </div><br>

           <div class="row">
               <div class="col-md-7">
                   <p>
                       <label>Select city</label>
                       <select id="city" name="city">
                           <option value="">-- Choose City --</option>
                           <option value="1">Portland</option>
                           <option value="2">Salem</option>
                           <option value="3">Gresham</option>
                           <option value="4">Aloha</option>
                       </select>
                   </p>
               </div>
           </div>
           <button type="submit" class="btn registerButton">Update</button>
        </div>
       </form>


   {{else}}



<div class="container">
<form action="/users/new" method="post">

<div class="panel">
    <div class="panel-heading newUser">
        <h2 class="panel-title">Enter Your Information</h2>
    </div>
<div class="panel-body">
    <div class ="row">
        <div class = "col-md-7">
            <div class = "form-group">
            <label for="inputName">Name</label>
            <input id="inputName" name="inputName" class = "form-control" type="text" required value="">
            </div>
        </div>
    </div>

    <div class ="row">
        <div class = "col-md-7">
            <label for="inputAge">Age</label>
            <input id="inputAge" name="inputAge" class = "form-control" type="number" min="0">
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-3">
            <p>I'm a<br>
                <label><input type="radio" name="gender" value="male" >Male&nbsp</label>
                <label><input type="radio" name="gender" value="female" >Female</label>
            </p>
        </div>
        <div class="col-md-3">
            <p>Interested in<br>
                <label><input type="radio" name="genderPreference" value="male">Male&nbsp</label>
                <label><input type="radio" name="genderPreference" value="female">Female</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <label for="inputMinimumAge">Minimum Age Preference</label>
            <input id="inputMinimumAge" name="inputMinimumAge" type="number" class = "form-control" min="0">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <label for="inputMaximumAge">Maximum Age Preference</label>
            <input id="inputMaximumAge" name="inputMaximumAge" type="number" class = "form-control" min="0">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <label for="inputZip">Zip Code</label>
            <input id="inputZip" name="inputZip" type="number" class = "form-control" min="0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <label for="inputBio">Bio:</label>
            <textarea id="inputBio" name="inputBio" type="text" class ="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
        <label for="inputEmailAddress">Email Address</label>
        <input id="inputEmailAddress" name="inputEmailAddress" type="email" class = "form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" name="inputPassword" type="password" class = "form-control" required value="">
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-7">
            <p>
                <label>Select city</label>
                <select id="city" name="city">
                    <option value="">-- Choose City --</option>
                    <option value="1">Portland</option>
                    <option value="2">Salem</option>
                    <option value="3">Gresham</option>
                    <option value="4">Aloha</option>
                </select>
            </p>
        </div>
    </div>
    <button type="submit" class="btn registerButton">Submit</button>

   {{/if}}
   </div>
</form>
</div>
{{/partial}}

{{> layout.hbs}}